.center-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.center-form Form{
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.center-form Form .form-control{
    margin-bottom: 20px;
    padding: 10px;
}

body{
    background-image: url("https://vignette.wikia.nocookie.net/freddy-fazbears-pizza/images/a/a5/Puppetlookingatyou.gif/revision/latest?cb=20150402180052");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 1500px;
}

.bg-dark {
    opacity: 85%;
}